body, html{
    height: 100%;
}
.bgimg {
    height: 100%;
    position: relative;
    color: #fff;
    font-size: 2.5rem;
}
.eventi_passati p{
    height: 30px;
    position: absolute;
    left: 2.5rem;
    bottom: 2.5rem;
}

.prossimo_evento {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.uovo{
    position: absolute;
    top: 25%;
    left: 25%;
    transform: translate(-50%, -50%) scale(3);
    background: url("../img/uovo_chiuso.png") 50% no-repeat;
    background-size: cover;
    image-rendering: optimizeSpeed;
    width: 15rem;
    height: 15rem;
    cursor: pointer;
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.8s;
    /* When the animation is finished, start again */
    animation-iteration-count: infinite;
}
@keyframes shake {
      0%{transform:rotate(0);     }
     10%{transform:rotate(10deg); }
     20%{transform:rotate(-10deg);}
     30%{transform:rotate(0);     }
     40%{transform:rotate(0);     }
     50%{transform:rotate(0);     }
     60%{transform:rotate(0);     }
     70%{transform:rotate(0);     }
     80%{transform:rotate(10deg); }
     90%{transform:rotate(-10deg);}
    100%{transform:rotate(0);     }
}
.uovoaperto{
    background: url("../img/uovo_aperto.png")  50% no-repeat;
    background-size: contain;
    image-rendering: optimizeSpeed;
    height: 12rem;
    width: 5rem;
    animation-iteration-count: 0;
    top: 50%;
    left: 50%;
    z-index: -1;
}
.coming_soon{
    visibility: hidden;
}
.gallina1{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%) scaleX(-1);
}
.gallina2{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(50%, -50%);
}
hr {
    margin: auto;
    width: 30rem;
}

@media screen and (max-width: 1551px) {
    .gallina1, .gallina2{
        display: none;
    }
}
@media screen and (max-width: 485px) {
    .uovo{
        top: -50%;
        left: -10%;
    }
    .uovoaperto{
        top: 30%;
        left: 50%;
    }
    hr{
        width: 10rem;
    }
    .prossimo_evento{
        font-size: 1.25rem;
    }
    .eventi_passati p{
        left: 49%;
        transform: translate(-50%, -50%);
        bottom: 0.7rem;
    }
}