.social .button {
    display: inline-block;
    float: left;
    height: 60px;
    width: 60px;
    margin: 0 5px;
    overflow: hidden;
    color: white;
}

.social .button:hover {}

.social .button .icon {
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    border: white 2px solid;
    box-sizing: border-box;

}

.social .button:nth-child(1):hover .icon {
    /*background: #4267B2;*/
    background: #fff;
}

.social .button:nth-child(2):hover .icon {
    /* background: #E1306C; */
    background: #fff;
}

.social .button:nth-child(3):hover .icon {
    /* background: #de3636; */
    background: #fff;
}

.social .button .icon i {
    font-size: 25px;
    line-height: 60px;
}

.social .button span {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 60px;
    margin-left: 10px;
}

@media (max-width: 1440px) {
    .social .button {
        margin: 0 -25px;
        display: block;
        float: unset;
    }

}