.timeline {
    z-index: 3;
    position: relative;
    width: 85%;
    margin: 0 auto;
    background: black;
}

.timeline h1{
    text-align: center;
    font-size: 3.5rem;
}
.timeline h2{
    color: rgba(115, 180, 192, 0.85);
    font-weight: bolder;
    font-size: 2.9rem;
}
.timeline p{
    color: #000;
}
.container {
    padding: 10px 40px;
    position: relative;
    top: 69px;
    width: 50%;
}
.container::after {
    content: url("../img/logo_piccolo_piccolo.png");
    position: absolute;
    right: -17px;
    top: 15px;
    z-index: 1;
}

.left {
    left: 0;
}
.timeline .left  h2, .timeline .left  p{
    text-align: right;
}
.right {
    left: 50%;
}
.right::after {
    left: -16px;
}
.content {
    padding: 20px 30px;
    background: rgba(255, 241, 227, 0.85);
    position: relative;
    border-radius: 7px;
}
@media screen and (max-width: 600px) {
    .timeline::after {
        left: 20px;
    }

    .timeline h2{
        text-align: right;
    }
    .timeline p, .timeline .left p{
        text-align: justify;
        font-size: 1.3rem;
    }
    .container {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .left::after, .right::after {
        left: 15px;
    }
    .right {
        left: 0;
    }
}