/* set Poppins Dir as font dir */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Poppins';
    src: url('Poppins/Poppins-SemiBold.ttf') format('ttf'),
        url('Poppins/Poppins-SemiBoldItalic.ttf') format('ttf');
    /* Aggiungi altre varianti del font se necessario */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    font-weight: semibold;
}

body,
html {
    margin: 0;
    background: white;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: repeat;
}

body {
    zoom: 0.90;
    /*transform: scale(0.75);*/
    /*transform-origin: top left;*/
}

.logo_top {
    display: inline-flex;
    position: relative;
    left: 50%;
    top: 1rem;
    font-size: 2.5rem;
}

.logo_top_brand img {
    display: inline-flex;
    position: relative;
    top: 1rem;
    left: 2.5rem;
    width: 450px;
}

@media (max-width: 575px) {
    .logo_top_brand img {
        left: 0;
        margin-left: 0;
        width: 100%
    }
}

.logo_top img {
    margin: 0 1rem;
}

ul {
    font-size: 1.4rem;
    font-weight: bold;
    position: absolute;
    right: 2.5rem;
    top: 4rem;
}

ul li {
    margin-left: 2.5rem;
    list-style-type: none;
    float: left;
}

a {
    text-decoration: none;
    color: #1d1b1b;
}

a:hover {
    color: #a19999bb;
}

a.active {
    color: #3981a6;
}

/* width */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-button {
    visibility: hidden;
}

::-webkit-scrollbar-corner {
    display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:active {
    background: #555;
}



@media (max-width: 575px) {}

@media (max-width: 875px) {}

@media (min-width: 875px) {}
