main {
    font-weight: bold;
    margin: 67px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    font-size: 2.5rem;
}
main a{
    color: #7b9a9a;
}
main h2{
    text-align: center;
}
.tessere{
    overflow: scroll;
    text-align: justify;
    padding: 0 30px 0 0;
    margin: 15px;
    color: white;
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 734px;
}

.img{
    color: white;
    text-align: center;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 35%;
    padding: 0;
}

.img img {
    image-rendering: optimizeSpeed;
    width: 335px;
    height: 219px;
}

.flip-card {
    background-color: transparent;
    width: 100%;
    height:335px;
    perspective: 1000px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.flip-card-back {
    transform: rotateY(180deg);
}

@media (max-width: 1820px), (min-height: 970px){
    main{
        display: block;
        margin-top: 30px;
    }
    .img{
        margin-top: 55px;
        width: 100%;
    }
}
@media screen and (max-width: 720px), (min-height: 970px) {
    .tessere{
        font-size: 1.5rem;
        height: 600px;
        margin-left: 0;
    }
    main{
        margin-top: 90px;
    }
    .img img{
        padding: 7px 12px 11px 11px;
    }
}
@media (min-height: 970px){
    .img{
        height: 60vh;
    }
}